{% extends "layouts/default.html" %}

{% block content %}

<!-- Generic Page -->
<section class="bg-light" style="padding: 150px 0 0 0;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{entry.title}}</h2>
        <h3 class="section-subheading text-muted">{{entry.subtitle}}</h3>
      </div>
    </div>
</section>

<section style="padding: 50px 0 50px 0;">
  <div class="container">
    <div class="row">
      {{entry.content}}
    </div>
  </div>
</section>
{% endblock %}

